@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Extra Bold';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
        url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot');
    src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica.woff') format('woff'),
        url('../fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Black';
    src: url('../fonts/FrutigerNeueLTW1G-Black.eot');
    src: url('../fonts/FrutigerNeueLTW1G-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FrutigerNeueLTW1G-Black.woff') format('woff'),
        url('../fonts/FrutigerNeueLTW1G-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Heavy';
    src: url('../fonts/FrutigerNeueLTW1G-Heavy.eot');
    src: url('../fonts/FrutigerNeueLTW1G-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FrutigerNeueLTW1G-Heavy.woff') format('woff'),
        url('../fonts/FrutigerNeueLTW1G-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Regular';
    src: url('../fonts/FrutigerNeueLTW1G-Regular.eot');
    src: url('../fonts/FrutigerNeueLTW1G-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FrutigerNeueLTW1G-Regular.woff') format('woff'),
        url('../fonts/FrutigerNeueLTW1G-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Bold';
    src: url('../fonts/FrutigerNeueLTW1G-Bold.eot');
    src: url('../fonts/FrutigerNeueLTW1G-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FrutigerNeueLTW1G-Bold.woff') format('woff'),
        url('../fonts/FrutigerNeueLTW1G-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Light';
    src: url('../fonts/FrutigerNeueLTW1G-LightIt.eot');
    src: url('../fonts/FrutigerNeueLTW1G-LightIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FrutigerNeueLTW1G-LightIt.woff') format('woff'),
        url('../fonts/FrutigerNeueLTW1G-LightIt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}